@import'./normalize.css';

/* ================= GOOGLE FONTS============================*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap');

/* =================VRIABLE CSS============================*/
:root{
    --header-height: 6rem;
    --animate-snow-1: animate-snow-1 5s infinite ease-in-out;
    --animate-snow-2: animate-snow-2 5s infinite ease-in-out;

    /* ===============Colours=============================== */
    /* Color mode HSL */
    --color-primary: hsl(210, 80%, 58%);
    --color-primary-alt: hsl(210, 80%, 50%);
    --color-title: hsl(210, 24%, 90%);
    --color-text: hsl(210, 16%, 70%);
    --color-white: #fff;
    --color-body: hsl(210, 32%, 4%);

    /* =============== Font and Typography=============================== */
    --body-font:'Poppins', sans-serif;
    --secondary-font: 'Dancing Script', cursive;
    --biggest-font-size: 3.5rem;
    --h1-font-size: 4.0rem;
    --h2-font-size: 2.0rem; 
    --h3-font-size: 1.6rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1.38rem;
    --smaller-font-size: 1.25rem;

    /* ================= Font Weight============================*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* ================= z index　============================*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ================= BASE ============================*/
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    color: var(--color-text);
    font-size: var(--normal-font-size);
    background: var(--color-body);
    line-height: 1.5;
}

h1,h2,h3{
    color: var(--color-title);
    font-weight: var(--font-medium);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* ================= REUSABLE CSS CLASSES ============================*/
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.grid{
    display: grid;
}

.section{
    padding-block: 4rem 1rem;
}

/* =============================== Snow animation====================================== */
@keyframes animate-snow-1 {
    0%, 100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
}
@keyframes animate-snow-2 {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
}


/* =============================== header & NAV ====================================== */
.header{
    position: fixed;
    background: transparent;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    padding-inline: 2rem;
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__toggle,
.nav__close{
    display: flex;
    color: #fff;
}
.nav__logo{
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: var(--secondary-font);
    font-size: var(--h2-font-size);
    gap: 0.75rem;
}
.nav__logo > img{
    width: 30px;
    transform: rotate(-10deg);
}
.nav__toggle{
    font-size: 2.2rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--color-body);
        width: 100%;
        padding-block: 4rem;
        transition: top .6s;
    }
    .show-menu{
        top: 0;
    }

}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3.7rem;
}

.nav__link{
    color: #fff;
    font-weight: var(--font-medium);
    cursor: pointer;
    transition: color 0.4s;
}
.nav__link:hover{
    color: var(--color-primary);
}

.nav__close{
    position: absolute;
    font-size: 2.6rem;
    top: 2rem;
    right: 2.5rem;
    cursor: pointer;
}

.nav__image-1,
.nav__image-2{
    position: absolute;
}
.nav__image-1{
    width: 40px;
    top: 8rem;
    left: 4rem;
}
.nav__image-2{
    width: 60px;
    transform: rotate(15deg);
    bottom: 3rem;
    right: 3rem;
}

/* Change background header */
.scroll-header{
    background: var(--color-body);
}

/* =============================== HOME ====================================== */
.home{
    position: relative;
    background: linear-gradient(180deg,
                                hsl(210, 88%, 20%),
                                hsl(210, 70%, 58%));
    height: 650px;
    padding-top: 10rem;
    overflow: hidden;
}
.home__title{
    font-family: var(--secondary-font);
    text-align: center;
    font-size: var(--h1-font-size);
    color: #fff;
    margin-top: 3rem;
}
.home img{
    position: absolute;
}
.home__snow,
.home__mountain-1{
    bottom: 0;
}
.home__village,
.home__pine-tree,
.home__moon,
.home__trineo{
    left: 0;
    right: 0;
    margin: 0 auto;
}
.home__village{
    width: 260px;
    bottom: 2rem;
}
.home__pine-tree{
    width: 220px;
    bottom: 7rem;
}
.home__mountain-2{
    bottom: 5rem;
}
.home__mountain-3{
    bottom: 10rem;
}
.home__moon{
    width: 300px;
    bottom: 14rem;
}
.home__trineo{
    width: 240px;
    bottom: 24rem;
}

/* =============================== ABOUT ====================================== */
.about{
    padding-block: 10rem 1rem;
}
.about__container{
    position: relative;
    row-gap: 3rem;
}
.about__data{
    text-align: center;
    padding-inline: 3rem;
    max-width: 450px;
    margin-inline: auto;
}
.about__discription{
    line-height: 1.5;
    padding-bottom: 3rem;
}
.section__title{
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    padding-bottom: 3rem;
}
.about__snow-1{
    position: absolute;
    width: 45px;
    left: 4rem;
    top: 21rem;
    animation: var(--animate-snow-1);
}
.about__snow-2{
    position: absolute;
    width: 45px;
    right: 2rem;
    top: 48rem;
    animation: var(--animate-snow-2);
}
.about__image{
    width: 330px;
    padding-block: 3rem;
    margin-inline: auto;
}
/* =============================== BUTTON ====================================== */
.btn{
    display: inline-block;
    padding: 2rem 3rem;
    border-radius: 30rem;
    background: var(--color-primary);
    border: 0;
    font-weight: var(--font-medium);
    color: #fff;
    cursor: pointer;
    transition: all .4s;
}
.btn:hover{
    background: var(--color-primary-alt);
    box-shadow: 0 8px 32px hsla(210, 80%, 54%, .7);
}

/* =============================== SEND ====================================== */

.send{
    text-align: center;
    padding-top: 1rem;
    position: relative;
}
.send__container{
    row-gap: 3rem;
}
.send__card{
    width: 200px;
    margin: 1.5rem auto;
}
.send__image{
    width: 190px;
    padding-bottom: 2rem;
}
.send__title{
    padding-bottom: 1rem;
    font-size: var(--h3-font-size);
}
.send__description{
    font-size: var(--smaller-font-size);
}

.send__snow-1,
.send__snow-2,
.send__snow-3{
    width: 50px;
    position: absolute;
}
.send__snow-1{
    left: 3rem;
    top: 23rem;
    animation: var(--animate-snow-1);
}
.send__snow-2{
    right: 3rem;
    top: 50rem;
    animation: var(--animate-snow-2);
}
.send__snow-3{
    left: 3rem;
    bottom: 19rem;
    animation: var(--animate-snow-1);
}

/* =============================== footer ====================================== */

.footer__container{
    position: relative;
    padding-inline: 3rem;
    text-align: center;
    padding-bottom: 4rem;
    overflow: hidden;
}
.footer__social-link,
.footer__link,
.footer__copy{
    color: #fff;
}
.footer__link{
    font-family: var(--secondary-font);
    font-size: 2rem;
}
.footer__social{
    padding-block: 1.5rem 3rem;
    display: flex;
    justify-content: center;
    column-gap: 2.4rem;
}
.footer__social-link{
    font-size: 2.1rem;
    cursor: pointer;
    transition: color .5s;
}
.footer__social-link:hover{
    color: var(--color-primary);
}
.footer__snow-1,
.footer__snow-2{
    position: absolute;
    width: 50px;
}
.footer__copy{
    font-size: 1.2rem;
}
.footer__snow-1{
    animation: var(--animate-snow-1);
    left: 2rem;
    top: 2rem;
}
.footer__snow-2{
    width: 70px;
    animation: var(--animate-snow-2);
    right: -2rem;
    bottom: 3rem;
}

/* =============================== SCROLL BAR ====================================== */
::-webkit-scrollbar{
    width: .6rem;
    border-radius: 10rem;
    background-color: hsl(210, 8%, 25%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(210, 8%, 35%);
}

/* =============================== SCROLL UP ====================================== */
.scrollup{
    position: fixed;
    right: 1.6rem;
    bottom: -50%;
    background: #fff;
    font-size: 1.7rem;
    color: #000;
    display: inline-flex;
    padding: .3rem .7rem;
    border-radius: 5px;
    z-index: var(--z-tooltip);
    transition: all 0.3s;
}
.scrollup:hover{
    transform: translateY(-7px);
}
.show-scroll{
    bottom: 3rem;
}

/* =============================== SCROLL SECTIONS ACTIVE LINK  ====================================== */
.active-link{
    color: var(--color-primary);
}

/* =============================== BREAKPOINTS  ====================================== */

/* For medium devices */
@media screen and (min-width: 576px) {
    .home__village{
        width: 360px
    }
    .home__pine-tree{
        width: 330px;
    }
    .home__moon{
        bottom: 17rem;
    }
    .home__trineo{
        bottom: 27rem;
    }
}

@media screen and (min-width: 767px){
    .nav__toggle,
    .nav__close,
    .nav__image-1,
    .nav__image-2{
        display: none;
    }
    .nav__list{
       display: flex;
       flex-direction: row;
       column-gap: 7rem;
    }
    .home{
        height: 800px
    }
    .home__moon{
        width: 400px;
        bottom: 20rem;
    }
    .home__trineo{
        width: 320px;
        bottom: 32rem;
    }
    .home__village{
        width: 460px;
    }
    .home__pine-tree{
        width: 420px;
    }
    .send{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .send__container{
        grid-template-columns: repeat(2,200px);
        column-gap: 8rem;
    }
}

@media screen and (min-width: 1024px) {
    .section{
        padding-top: 8rem;
    }
    .home__village{
        width: 500px;
    }
    .home__title{
        font-size: 7rem;
    }
    .home__moon{
        width: 430px;
        bottom: 21rem;
    }
    .home__pine-tree{
        width: 400px;
        bottom: 11rem;
    }
    .home__trineo{
        width: 340px;
        bottom: 34rem;
    }
    .nav{
        height: 7rem;
    }
    .about__data{
        text-align: inherit;
        margin: 0;
        padding-inline: 1rem;
    }
    .about__container{
        display: flex;
        grid-template-columns: 550px 330px;
        align-items: center;
    }
    .about__image{
        order: -1;
        width: 500px;
    }
    .about__snow-1{
        left: 2rem;
        top: 4rem;
    }
    .about__snow-2{
        right: 20rem;
        top: 31rem;
    }
    .section__title{
        font-size: 4rem;
    }
    .about__discription,
    .send__discription{
        font-size: 2rem;;
    }
    .btn{
        font-size: 1.8rem;
    }
    .send__container{
        padding-top: 3rem;
        grid-template-columns: repeat(3,230px);
        column-gap: 12rem;
    }
    .send__card{
        width: 230px;
    }
    .send__title{
        font-size: 2.1rem;
    }
    .send__snow-1{
        top: 4rem;
        left: 10rem;
    }
    .send__snow-2{
        right: 30rem;
    }
    .send__snow-3{
        top: 25rem;
        left: 38rem;
    }
    .celebrate{
        padding-top: 10rem;
    }
    .celebrate__image{
        order: 1;
    }
    .footer__container{
        padding-top: 10rem;
    }
    .footer__link{
        font-size: 2.5rem;
    }
    .footer__social-link{
        font-size: 2.5rem;
    }
    .footer__social{
        padding-top: 0.5rem;
        column-gap: 4rem;
    }
    .footer__copy{
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1200px){
    .home{
        height: 1000px;
    }
    .home__title{
        font-size: 9rem;
    }
    .home__mountain-1,
    .home__mountain-2,
    .home__mountain-3,
    .home__snow{
        width: 100%;
    }
    .home__village{
        width: 750px;
        bottom: 5rem;
    }
    .home__pine-tree{
        width: 800px;
        bottom: 10rem;
    }
    .home__moon{
        width: 620px;
    }
    .home__trineo{
        width: 510px;
        bottom: 40rem;
    }
}

/* For 2K */
@media screen and (min-width:1700px){
    .home{
        max-width: 1280px;
        margin-inline: auto;
    }
}