<header class="header">
    <div class="nav container">
        <a href="#" class="nav__logo">
            <img src="images/logo.png" alt="logo image">
            Christmas
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#">About</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Send</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Celebrate</a></li>
            </ul>
            <!-- Close Icon -->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
    
            <img src="images/snow-img.png" alt="" class="nav__image-1">
            <img src="images/snow-img.png" alt="" class="nav__image-2">
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-apps-2-line"></i>
        </div>
    </div>
</header>