<section class="send section" id="send">
    <h2 class="section__title">Send Love This <br>
                                Christmas</h2>
    <div class="send__container container grid">
        <div class="send__card">
            <img src="images/send-night.png" alt="send image" class="send__image">
            <h3 class="send__title">Spend It With Family</h3>
            <p class="send__discription">Sharing with family is the best gift you can give.</p>
        </div>
        <div class="send__card">
            <img src="images/send-gifts.png" alt="send image" class="send__image">
            <h3 class="send__title">Give Lots Of Love</h3>
            <p class="send__discription">Send a gift and a lot of love to those most in need.</p>
        </div>
        <div class="send__card">
            <img src="images/send-santa.png" alt="send image" class="send__image">
            <h3 class="send__title">Share Good Wishes</h3>
            <p class="send__discription">Wish good messages to loved ones this Christmas.</p>
        </div>

        <img src="images/snow-img.png" alt="snow image" class="send__snow-1">
        <img src="images/snow-img.png" alt="snow image" class="send__snow-2">
        <img src="images/snow-img.png" alt="snow image" class="send__snow-3">
    </div>
</section>

